/* When changing colors, also update colors for LaTeX in conf.py! */

/* Override defaults from basic.css */

div.document {
    max-width: 1100px;
    width: 100%;
}

div.body {
    max-width: 1000px;
}

dl.field-list {
    grid-template-column: 15em auto;
}

dl.field-list > dt {
    border-right: 1px solid black;
}

dl.field-list > dt:after {
    content: "";
}

pre {
    padding: 7px 10px;
}

/* Override Alabaster's defaults */

div.body p, div.body dd, div.body li {
    line-height: 1.8em;
    text-align: justify;
}

/* Others */

code {
    color: black;
    padding: 4px;
    font-size: 1em;
}

dl > dt {
    font-weight: bold;
}

dl.field-list > dd > p:first-child {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
    background-color: rgb(255, 255, 230);
}

dl.field-list > dd > p:empty {
    border: 0px;
    padding: 0px;
}

.smallcaps {
    font-variant: small-caps;
    font-size: large;
}

.schemeVar {
    font-style: italic;
}

.runbutton {
    background-color: rgb(160, 30, 60);
    border: 1px; border-radius: 3px;
    padding: 2px 4px 2px 4px;
}

.button {
    background-color: rgb(200, 80, 110);
    border: 1px; border-radius: 3px;
    padding: 2px 4px 2px 4px;
}

.joblist {
    background-color: rgb(230, 230, 240);
    border: 1px; border-radius: 3px;
    padding: 2px 4px 2px 4px;
}

.jobtype {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
}

.guitab {
   background-color: rgb(180, 180, 190);
   border: 1px; border-radius: 3px;
   padding: 2px 4px 2px 4px;
}
